QWidget {
    background-color: rgb(128, 0, 32);
}

QPushButton {
    background-color: rgb(255, 255, 224);
    color: #000000;
    font-weight: bold;
    font-family: 'Bungee';
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
}

QPushButton:hover {
    background-color: #FFFACD;
}

QPushButton:pressed {
    background-color: #FFF8DC;
}

QPushButton:disabled {
    background-color: #474747;
}

QLabel#titleLable {
    color: #FFFFE0;
    font-family: 'Bungee';
    font-size: 80px;
    font-weight: bold;
}

QLabel {
    color: #FFFFE0;
    font-family: 'Bungee';
}

QLineEdit {
    color: #FFFFE0;
    font-family: 'Bungee';
    border: 2px solid black;
}